body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header{
  background-color: #ff5a5f;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

main{
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

